.navigation {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    margin-top: 2rem;
    padding-bottom: 0.75rem;
	border-bottom: 1px solid var(--c-gray-900);
}

.navigation button {
    font-size: 1.125rem;
	display: inline-block;
	padding: 0 0.5rem;
	text-decoration: none;
	color: inherit;
	position: relative;
	font-weight: 500;
	&:focus, &.active {
		font-weight: 800;
		background-color: var(--c-yellow-500);
	}
    

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 14px;
		background-color: transparent;
		z-index: -1;
		bottom: -2px;
		left: 0;
		transition: 0.15s ease;
	}
	&:hover:before,
	&:focus {
		background-color: var(--c-yellow-500);
	}
}


.content {
	display: flex;
	justify-content: space-around;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.cards__card{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
	grid-gap: 4rem;
    margin: auto;
}

@media screen and (max-width:1800px){
.cards__card{
    grid-template-columns: repeat(5, 1fr);
}
}
@media screen and (max-width:1600px){
.cards__card{
    grid-template-columns: repeat(4, 1fr);
}
}
@media screen and (max-width:1300px){

	.cards__card{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width:1000px){

	.cards__card{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width:800px){
	.content {
		width: 95%;
	}
	.cards__card{
		grid-gap: 3rem;
	}
}
@media screen and (max-width:580px){
	.navigation {
		flex-direction: column;
        align-items: stretch;
		margin-bottom: 2rem;
        gap: .5rem;
        padding: .5rem;
        margin-top: 1rem;
        padding-bottom: 0rem;
	}
	.navigation-item{
		margin-bottom: 0rem;
	}

    .content {
        padding: 1rem;
        margin-top: 0rem;
        width: 95%;
    }
    .link_title{
        display: flex;
    }
	.cards__card{
		grid-gap: 3rem;
	}
}
@media screen and (max-width:480px){

	.cards__card{
		grid-gap: 2rem;
	}
}
@media screen and (max-width:340px){

	.cards__card{
		grid-gap: 1rem;
	}
}

/* page-favorite  */

.page_favorite{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
	margin-top: 2rem;
}

