.top_menu_container{
    display: flex;             
    padding-left: 1.25rem;     
    padding-right: 1.25rem;    
    justify-content: space-between; 
    align-items: center;      
    width: 100%;
    background-color: var(--c-blue-500);
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 1;
}

.top_menu_logo{
    width: 100px;
    height: 100px;
}

.nav-item{
    margin: 0.5rem;                
    padding: 0.5rem;               
    transition: all 0.2s ease;    
    font-size: 1.2rem;             
    color: #feffff;              
    border-radius: 20px;         
    list-style: none;            
    padding: 6px 15px;
    border: 2px solid transparent; 
}

.nav-item.active,
.nav-item:hover {
    border: 2px solid var(--c-gray-900);
    background-color: var(--c-yellow-500);
    color: var(	--c-gray-900); 
    font-weight: bold; 
}

.image_avatar{
    border-radius: 30%;
}

.avatar{
    width: 50px;
	height: 50px;
    border-radius: 30%;
    transition: all 0.2s ease; 
    border-radius: 15px;
	border: 3px solid #fff;
	box-shadow: 0 8px 10px -4px rgba(#000, 0.2);
	transform-origin: center center;
	transition: 0.15s ease;
	cursor: pointer;
    &:hover,
	&:focus {
		transform: translatey(-4px);
		box-shadow: 0 12px 14px -4px rgba(#000, 0.3);
	}
}


.menu{
    display:none;
}

@media screen and (max-width:800px){

	/* NAV FOOTER  */
.menu{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width:100% ;
    z-index: 1;
}
.menu-inner {
    width:91% ;
    margin-top: 2rem;
	display: flex;
	justify-content: center;
    margin-bottom: 1.5rem;
	border-radius: 15px;
	border: 2px solid var(--c-gray-900);
	justify-content: space-between;
	padding: .1rem;
	background-color: var(--c-blue-500);
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		z-index: -1;
		width: 95%;
		height: 100%;
		bottom: -9px;
		left: calc(50% - 47.5%);
		border-radius: 20px;
		border: 2px solid var(--c-gray-900);
		background-color: var(--c-gray-100);
	}

}

.nav-item{
    font-size: 1.5rem;             
}

.center_menu{
    display: none;
}

.top_menu_container{
    background-color: transparent;
	border-bottom-style: none;
    margin-top: 2rem;
}
.top_menu_logo{
    width: 55px;
    height: 55px;
    /* margin-top: 10px; */
    background-color: var(--c-blue-300);
    border: 2px solid var(--c-gray-900);
    border-radius: 15px;

}

}
@media screen and (max-width:350px){
    .nav-item{
        font-size: 1.4rem;             
    }

}
